.my-dimension {
    height: 40rem;
    width: 40rem;
}

h1 {
    color: #005555;
}

h2 {
    color: #005555;
}

h3 {
    color: #005555;
}

.my-square {
    width: 20rem;
    height: 19.8rem;
    background-color: red;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
}

.my-img {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 100%;
    width: 100%;
}



.top-right {
    border-top-right-radius: 50px;
}

.bottom-right {
    border-bottom-right-radius: 50px;
}

.circle {
    width: 6rem;
    height: 6rem;
}

.my-users {
    border-radius: 50%;
    vertical-align: text-top;
}

.my-maps {
    width: 100%;
    height: 25rem;
    background-color: red;
}


@media screen and (max-width: 980px) {
    .my-img {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        height: 100%;
        width: 100%;
    }

    .my-dimension {
        height: 40rem;
        width: 50rem;
    }


}

@media screen and (max-width: 600px) {
    .my-img {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        height: 100%;
        width: 100%;
    }

    .my-dimension {
        height: 25rem;
        width: 30rem;
    }

    .my-square {
        width: 20rem;
        height: 19.8rem;
        background-color: red;
        margin-left: 0.3rem;
        margin-bottom: 0.3rem;
        display: none;
    }

    .my-users {
        border-radius: 50%;
        vertical-align: text-top;
        display: none;
    }

}