h1,
h2,
h3 {
    color: #005555;
}

.top-right {
    border-top-right-radius: 50px;
}

.bottom-right {
    border-bottom-right-radius: 50px;
}

.circle {
    width: 6rem;
    height: 6rem;
}

.my-users {
    border-radius: 50%;
    vertical-align: text-top;
}

.my-maps {
    width: 100%;
    height: 25rem;
}


//     i.icon-send-email{
//         color: rgb(255, 202, 44);
//     }

//     input.input-email-user{
//         display: block;
//         width: 100%;
//         padding: 10px;
//         font-size: 16px;
//         border: none;
//     }
// }


div.bg-color-div-email {
    background-color: #005555;

}

div.wrap-send-email {
    color: white;

    input.input-email-user {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
    }

}


@media screen and (max-width: 580px) {
    .my-users {
        border-radius: 50%;
        vertical-align: text-top;
        display: none;
    }

    div.return-arrow {
        display: none;

    }
}

// Braintree style
.button {

    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.button--small {

    padding: 10px 20px;
    font-size: 0.875rem;
}

.button--green {

    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
}

.button--green:hover {

    background-color: #8bdda8;
    color: white;
}

#cancel-payment {

    cursor: pointer;
}

// Braintree style
.button {
    cursor: pointer;
    font-weight: 500;
    left: 3px;
    line-height: inherit;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
}

.button--small {
    padding: 10px 20px;
    font-size: 0.875rem;
}

.button--green {
    outline: none;
    background-color: #64d18a;
    border-color: #64d18a;
    color: white;
    transition: all 200ms ease;
}

.button--green:hover {
    background-color: #8bdda8;
    color: white;
}

#cancel-payment {
    cursor: pointer;
}