div.hero-parent{
    position: relative;

    .search-box-hero{
        position: absolute;
        left:36% ;
        top: 35%;
        z-index: 3;
    }
}
div.bg-color{
    background-color: rgb(0, 85, 85);
}

h5.card-subtitle{
    color: rgb(0, 85, 85);
}
p.card-text{
    font-size: .8rem;
}
a.link-about-us{
    text-decoration: none;
} 
div.icon{
    font-size: 2rem;
   
}
div.img-profile{
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

div.content{

    h4{
        color: rgb(0, 85, 85);
    }
}

ul{
    list-style-type: none;

    li.icon-circle-wrap{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: .8rem 0 1rem 0;
        background-color: rgb(0, 85, 85);
        margin-left: .5rem;
        margin-right: .5rem;
        i{
            font-size: 1.3rem;
            color: white;
        }
        i:hover{
            color: rgb(0, 85, 85);
        }
    }
    li:hover{
        background-color: white;
        border: 2px solid  rgb(0, 85, 85);
      transform: scale(1.1);
    }
}
