div.hero-parent{
    position: relative;

    .search-box-hero{
        position: absolute;
        left:36% ;
        top: 35%;
        z-index: 3;
    }
}
div.bg-color{
    background-color: rgb(0, 85, 85);
}

h5.card-subtitle{
    color: rgb(0, 85, 85);
}
p.card-text{
    font-size: .8rem;
}
a.link-about-us{
    text-decoration: none;
} 
div.icon{
    font-size: 2rem;
   
}
