#border {
    border-color: #005555;
}

#my-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.btn-green {
    background-color: #005555;
    color: white;
    border-radius: 30px;
}

.my-title {
    font-size: 1.4rem;
}

h1 {
    color: #005555;
}

p {
    color: #005555;
}

.fix-img {
    object-fit: cover;
    object-position: center;
}

div.searchBox {
    border: 3px solid rgb(0, 87, 85);
    border-radius: 20px;
}

/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid rgb(0, 87, 85);
    outline: none;
    background-color: transparent;
}

option.option-placeholder {
    background-color: rgb(0, 87, 85);
    color: whitesmoke;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}


/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(0, 87, 85);
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: rgb(0, 87, 85);
}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;
}

select {
    border: none;
    border-bottom: 2px solid rgb(0, 87, 85);
    background-color: transparent;
    font-size: 16px;
    padding: 5px;
    width: 200px;
}

select:focus {
    outline: none;
}

select.select-menu {
    margin-top: 12px;
    width: 100%;
    color: rgba(5, 5, 5, 0.611);
}

button.search-button {
    border: 3px solid rgb(0, 87, 85);
    background-color: #005555;
    color: whitesmoke;

    &:hover {
        background-color: whitesmoke;
        border: 3px solid #005555;
    }
}



.form-check-input:checked {
    background-color: #005555;
    border-color: black;
}


div.filter-list {
    border: 2px solid black;
}
